<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <beans>
        <bean id="xmlConnectionMaker" class="com.yun27jin.toby.user.dao.NConnectionMaker"/>
        <bean id="xmlCountingConnectionMaker" class="com.yun27jin.toby.user.dao.CountingConnectionMaker">
            <property name="realConnectionMaker" ref="xmlConnectionMaker"/>
        </bean>
        <bean id="xmlUserDao" class="com.yun27jin.toby.user.dao.UserDao">
            <property name="connectionMaker" ref="xmlCountingConnectionMaker"/>
        </bean>
    </beans>
</beans>